.tr {
  display: grid;
  grid-template-columns: 15% repeat(7, 1fr) repeat(3, 5%);
  align-items: center;
  justify-items: center;
  background-color: var(--table-lights);
  width: 100%;
  height: auto;
  border-bottom: var(--border-prop);
}

.tr:nth-child(odd) {
  background-color: gray;
}

.td {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0.25vh 0;
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 1.2rem;
}

.shift-text {
  font-size: 0.9rem;
}

.td:nth-child(even) {
  border-left: 1px solid black;
  border-right: 1px solid black;
}


.shift:hover {
  border: 2px solid black;
  background-color: white;
  cursor: pointer;
}