.business-page-container {
    width: 80%;
    height: 90%;
    background-color: rgb(236, 236, 236);
    border-radius: 26px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

.name-container {
    margin-top: 20px;
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.name-container input {
    width: 60%;
}

.details-container {
    margin: 2%;
    margin-bottom: 0;
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.details-container label {
    font-size: 1.2rem;
    font-weight: bold;
}

.description-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 70%;
}


.description-container {
    font-size: 1.2rem;
}

.description-container textarea {
    box-sizing: border-box;
    display: block;
    width: 60%;
    height: 100%;
    resize: none;
    font-size: 1rem;
}

.image-container {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.image-container input {
    width: 60%;
}

.opening-times-container {
    margin: 50px 0;
    width: 80%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    font-size: 1.5rem;
}
.opening-times-container h2 {
    margin-bottom: 1rem;
}
.name-container label {
    margin: 5px;
    font-size: 1.5rem;
}
.name-container input {
    margin: 5px;
    font-size: 1.5rem;
    text-align: center;
    border: none;
    outline: none;
    font-weight: bold;
}

.opening-times-table {
    border-collapse: collapse;
}

.opening-times-th {
    min-width: 10rem;
    max-width: 10rem;
    border: 1px solid black;
    color: white;
    background-color: rgb(65, 65, 65);
    cursor: pointer;
}
.opening-times-th-inactive {
   text-decoration: line-through;
   text-decoration-thickness: 5px;
}
.opening-times-th:hover {
    background-color: white;
}

.role-hierarchy-container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    font-size: 1.2rem;
}
.role-hierarchy-container p {
 margin: 5px;
}

.add-position {
    width: 20%;
    margin: 10px 0;
    background-color: rgb(6, 89, 243);
    font-size: 1rem;
    font-weight: bold;
    color: white;
    cursor: pointer;
    border-radius: 13px;
}
.add-position:hover {
    background-color: rgb(101, 155, 255);
}

.role-hierarchy-position {
    width: 80%;
    height: 2rem;
    background-color: rgb(152, 101, 235)
}

.role-hierarchy-table {
    border-collapse: collapse;
}
.role-hierarchy-table {
    border: 1px solid black;
}

.role-hierarchy-th {
    min-width: 15rem;
    max-width: 15rem;
    border: 1px solid black;
}
.submit {
    cursor: pointer;
    margin-top: 2rem;
    width: 40%;
    font-size: 1.5rem;
    border-radius: 13px;
}
