

.list-item-container {
    width: 100%;
    height: 26px;
    background: linear-gradient(to top, black 0% 2%, #ff9058 2% 10%, #ffefe4 50%, #ff9058 90% 95%);
    display: grid;
    grid-template-columns: 25% 25% 50%;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}

.list-item-container:hover {
    background: none;
    background-color: white;
    cursor: pointer;
}

.message-td {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.message-td:nth-child(even) {
    border-left: 1px dotted black;
    border-right: 1px dotted black;

}